@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

htlm{
    scroll-behavior: smooth;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
}

.navlinks{
    list-style-type: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover{
    color: #99d8e1;
}

.offer{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 30px 20%;
    color: #edf0f1;
    
}

.s1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 30px 20%;
    color: #edf0f1;
}

.s2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 30px 20%;
    color: #edf0f1;
    padding-top: 150px;
}

td, th {
    border: 1px ;
    text-align: left;
    padding: 8px;
}

table {
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }